html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title MetaLamp
        link(rel="stylesheet", href=require('../../assets/style.scss'))
    body
        .wrapper 
            header.header
                .container
                    .logo Toxin
                    nav.navigation 
                        ul.list
                            li О нас
                            li Услуги
                            li Вакансии
                            li Новости
                            li Соглашения
        script(src=require('../index.js'))